* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    background: #444;
    font-family: sans-serif;
}

.calculator {
    position: relative;
    width: 340px;
    padding: 20px;
    box-shadow: 0px 0px 20px 1px #222;
    border-radius: 10px;
    background-color: #fffb;
}

.calculator .buttons {
    position: relative;
    display: grid;
}

.calculator .buttons #value {
    position: relative;
    grid-column: span 4;
    overflow: hidden;
    width: 100%;
    text-align: right;
    color: #119;
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.1),
    inset -5px -5px 20px rgba(0,0,0,.1);
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 0 20px;
    font-size: 2.5rem;
    font-weight: 500;
}

.calculator .buttons span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 10px;
    font-size: .8rem;
    cursor: pointer;
}

.calculator .buttons span:active {
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.1),
    inset -5px -5px 20px rgba(0,0,0,.1);
}

.calculator .buttons #clear {
    background-color: #e00;
    color: #fffb;
    grid-column: span 2;
    text-transform: capitalize;
}

.calculator .buttons #add {
    background-color: #f90;
    color: #fffb;
    grid-row: span 2;
}

.calculator .buttons #solve {
    background-color: #f40;
    color: #fffb;
}